.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.f-center {
    justify-content: center;
    align-items: center;
}

.f-around {
    justify-content: space-around;
}

.f-between {
    justify-content: space-between;
}

.f-start {
    justify-content: flex-start;
}

.f-end {
    justify-content: flex-end;
}

.visually-hidden {
    position: absolute;
    z-index: -100;
    top: -150%;

    visibility: hidden;
    overflow: hidden;

    width: 0;
    height: 0;
    margin: 0;
    padding: 0;

    cursor: none;
    user-select: none;
    white-space: nowrap;
    pointer-events: none;

    opacity: 0;
    border: none;
    outline: none;
}
