.gap-5 {
    gap: rem(5px);
}

.gap-10 {
    gap: rem(10px);
}

.gap-20 {
    gap: rem(20px);
}

.gap-row-5 {
    row-gap: rem(5px);
}

.gap-row-10 {
    row-gap: rem(10px);
}

.gap-row-20 {
    row-gap: rem(20px);
}

.gap-col-5 {
    column-gap: rem(5px);
}

.gap-col-10 {
    column-gap: rem(10px);
}

.gap-col-20 {
    column-gap: rem(20px);
}
