.p10 {
    padding: rem(10px);
}

.p20 {
    padding: rem(20px);
}

.pt-10 {
    padding-top: rem(10px);
}

.pt-20 {
    padding-top: rem(20px);
}

.pb-10 {
    padding-bottom: rem(10px);
}

.pb-20 {
    padding-bottom: rem(20px);
}

.pl-10 {
    padding-left: rem(10px);
}

.pl-20 {
    padding-left: rem(20px);
}

.pr-10 {
    padding-right: rem(10px);
}

.pr-20 {
    padding-right: rem(20px);
}
