::input-placeholder {
  opacity: 0.8;

  font-size: 0.8rem;
}

::placeholder {
  opacity: 0.8;

  font-size: 0.8rem;
}

:placeholder {
  opacity: 0.8;

  font-size: 0.8rem;
}

:input-placeholder {
  opacity: 0.8;

  font-size: 0.8rem;
}
