a[href^='http']:empty::before {
  content: attr(href);
}

//img

img {
  position: relative;

  display: block;

  width: 100%;
  max-width: 100%;
  height: auto;

  text-align: center;

  background-color: #fff;

  background-image: url('./../../img/no-photo.svg');
  background-repeat: no-repeat;

  font-family: sans-serif;
  font-weight: 300;
  line-height: 2;
  object-fit: cover;
}

.test {
  width: 500px;
  height: 500px;
}

img::after {
  display: block;

  content: '(url: ' attr(src) ')';

  font-size: 12px;
}
