// если нужны только пару глифов, то через ссылку гугла.
// все что используются по проекту, через font-face
//&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789
@import url("https://fonts.googleapis.com/css2?family=Roboto&text=ABCDE:wght@300;500;700&display=swap");

//брать шрифты только woff или woff2
//ttf шрифты прогонятся через gulp. ttf2woff2 плагин.
@font-face {
    font-family: "Roboto";
    src: local("Roboto"),  local("Roboto"),
         url(fonts/sairacondensed.woff2)
             format("woff2")        ;
    font-display: swap;
}

/*если Вам необходимо получить полужирные и курсивные шрифты,
 то необходимо подгружать их отдельно */
@font-face {
    font-family: "Roboto"; /* задаем произвольное имя для шрифта, которое будет использоваться в свойстве font-family при указании стилей для конкретных элементов */
    font-weight: normal; /* определяет нормальное начертание символов - это значение по умолчанию */
    font-style: normal; /* указываем, что стиль шрифта обычный - это значение по умолчанию */
    src: url("../../fonts/Roboto-Regular.ttf") format("ttf"); /* задаем путь к шрифту (url) и тип шрифта (format). Тип шрифта выступает подсказкой для браузера (в идеале ускоряет процесс обработки) */
}
@font-face {
    font-family: "Roboto"; /* задаем произвольное имя для шрифта, которое будет использоваться в свойстве font-family при указании стилей для конкретных элементов */
    font-weight: bold; /* определяет жирное начертание символов */
    font-style: normal; /* указываем, что стиль шрифта обычный - это значение по умолчанию */
    /* для упрощения работы со шрифтами допускается использовать одинаковое имя, но при этом начертание или стиль шрифта должен отличаться.
 IE 8 и ниже не поддерживают такой подход и если Вы хотите поддерживать эти браузеры, то Вам необходимо называть каждый шрифт по разному и более детально стилизовать каждый селектор */
    src: url("../../fonts/Roboto-Bold.ttf") format("truetype"); /* задаем путь к шрифту (url) и тип шрифта (format). Тип шрифта выступает подсказкой для браузера (в идеале ускоряет процесс обработки) */
}
@font-face {
    font-family: "Roboto"; /* задаем произвольное имя для шрифта, которое будет использоваться в свойстве font-family при указании стилей для конкретных элементов */
    font-weight: normal; /* определяет нормальное начертание символов - это значение по умолчанию */
    font-style: italic; /* указываем, что стиль шрифта курсивный */
    src: url("../../fonts/Roboto-Italic.ttf") format("truetype"); /* задаем путь к шрифту (url) и тип шрифта (format). Тип шрифта выступает подсказкой для браузера (в идеале ускоряет процесс обработки) */
}
