// если нужны только пару глифов, то через ссылку гугла.
// все что используются по проекту, через font-face
//&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789
// @import url('https://fonts.googleapis.com/css2?family=Roboto&text=ABCDE:wght@300;500;700&display=swap');

//брать шрифты только woff или woff2
//ttf шрифты прогонятся через gulp. ttf2woff2 плагин.
// @font-face {
//   font-family: 'SF Pro Display';
//   src: local('Roboto'), local('Roboto'),
//     url(fonts/sairacondensed.woff2) format('woff2');
//   font-display: swap;
// }

/*если Вам необходимо получить полужирные и курсивные шрифты,
 то необходимо подгружать их отдельно */
@font-face {
  font-family: 'SF Pro Display'; /* задаем произвольное имя для шрифта, которое будет использоваться в свойстве font-family при указании стилей для конкретных элементов */
  src: url('../../fonts/SFProDisplay-Light.woff2') format('woff2'); /* задаем путь к шрифту (url) и тип шрифта (format). Тип шрифта выступает подсказкой для браузера (в идеале ускоряет процесс обработки) */
  font-style: normal; /* указываем, что стиль шрифта обычный - это значение по умолчанию */
  font-weight: 300; /* определяет нормальное начертание символов - это значение по умолчанию */
  font-display: swap; /* позволяет подгружать шрифт в процессе загрузки страницы */
}
@font-face {
    font-family: 'SF Pro Display'; /* задаем произвольное имя для шрифта, которое будет использоваться в свойстве font-family при указании стилей для конкретных элементов */
    src: url('../../fonts/SFProDisplay-Regular.woff2') format('woff2'); /* задаем путь к шрифту (url) и тип шрифта (format). Тип шрифта выступает подсказкой для браузера (в идеале ускоряет процесс обработки) */
    font-style: normal; /* указываем, что стиль шрифта курсивный */
    font-weight: 400; /* определяет нормальное начертание символов - это значение по умолчанию */
    font-display: swap; /* позволяет подгружать шрифт в процессе загрузки страницы */
  }

@font-face {
  font-family: 'SF Pro Display'; /* задаем произвольное имя для шрифта, которое будет использоваться в свойстве font-family при указании стилей для конкретных элементов */
  /* для упрощения работы со шрифтами допускается использовать одинаковое имя, но при этом начертание или стиль шрифта должен отличаться.
 IE 8 и ниже не поддерживают такой подход и если Вы хотите поддерживать эти браузеры, то Вам необходимо называть каждый шрифт по разному и более детально стилизовать каждый селектор */
  src: url('../../fonts/SFProDisplay-Medium.woff2') format('woff2'); /* задаем путь к шрифту (url) и тип шрифта (format). Тип шрифта выступает подсказкой для браузера (в идеале ускоряет процесс обработки) */
  font-style: normal; /* указываем, что стиль шрифта обычный - это значение по умолчанию */
  font-weight: 500; /* определяет жирное начертание символов */
  font-display: swap; /* позволяет подгружать шрифт в процессе загрузки страницы */
}